@import 'tokens';

.base {
  width: $container-md;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs {
  flex-grow: 0;
  flex-shrink: 0;
}

.panel {
  flex-grow: 1;
  overflow-y: auto;
}