@import 'tokens';

.base {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.modalContainer {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.render {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  height: 100%;
}

.header {
  padding: 0 0 0 $space-md;
}

.title {
  font-size: $size-sm;
  text-transform: uppercase;
  margin: 0;
}

.subtitle {
  flex-grow: 1;
}

.unsupported {
  padding: $space-md;
  background: $color-danger-500;
}