@import 'tokens';

.base {
  --List-item_padding: 0 0 0 #{$space-md};
  padding: $space-md;
}

.variantPreview {
  width: 24px;
  height: 24px;
  border-style: solid;
  line-height: 24px;
  text-align: center;
}