#svg.playing {
  --animation-state: running;

}

#svg.paused {
  --animation-state: paused;
}

#svg.stopped {
  --animation-state: paused;
  --animation-iteration-count: 0;
  * {
    animation: none !important;
  }
}

#grid {
  transform-origin: 50% 50%;
  will-change: transform;
  animation-fill-mode: both;
  animation-play-state: var(--animation-state);
  animation-iteration-count: var(--animation-iteration-count);
}

.tile {
  /* filter: url(#dropShadow); */
  will-change: opacity, stroke, fill, transform;
  animation-fill-mode: both;
  animation-play-state: var(--animation-state);
  animation-iteration-count: var(--animation-iteration-count);
}
