@import 'tokens';

.base {
  display: flex;
  flex-shrink: 1;
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}


.base svg {
  margin: auto;
  width: auto;
  height: auto;
  max-height: 100%;

  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}